<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style = "background-color: white" border = "1" cellpadding = "5" cellspacing = "5" width = "1200" height = "150">
        <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Runtime</th>
            <th>Rating</th>
            <th>Genres</th>
            <th>Trailer</th>
            <th>Homepage</th>
        </tr>
        </thead>
        <tbody>
            {% for show in shows %}
                <tr>
                <td>{{ show['title'] }}</td>
                <td>{{ show['year'] }}</td>
                <td>{{ show['runtime'] }}</td>
                <td>{{ show['rating'] }}</td>
                <td>{{ show['genres_list'] }}</td>
                <td>{{ show['trailer'] }}</td>
                <td>{{ show['homepage'] }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>